body {
    border: none;
    margin: 0;
    padding: 0;
}

iframe {
    overflow: hidden;
}

#text-layer { 
    position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     overflow: hidden;
     opacity: 0.2;
     line-height: 1.0;
 }
